{% extends 'base.html' %}

{% block content %}

<style>
  .pos{
    position: fixed;
    top:50%;
    left:42%;

  }
  .textbox{
    border-radius: 14px;    
  }
  .button{
    border-radius: 14px;
  }
</style>

<div>
  <div>
    <form method="post">
      {% csrf_token %}
      <div class="d-flex flex -row pos">
        <div>{{ form.as_p }}</div>
        <div><button type="submit" class="button">Search</button></div>
      </div>
      
      
    </form>
  </div>
</div>

{% endblock content %}